<div class="modal-card">
  <button class="btn-back" data-action="click->new-question#closeModal">back</button>
  <h2 class="<%= "title-#{@board.theme}" %>">Your Question</h2>
  <%= render 'questions/form', { parent: @board, type: @question } %>
</div>
