<div class="questions-wrapper">
  <% open_qs.each do |question| %>
    <div data-controller="new-answer" class="card-question" style="background-color: <%= generate_color(theme, question) %>">
      <%= render 'questions/question_card',
          { question: question, answered: false, theme: theme } %>
      <div data-new-answer-target="modal" class="modal hide-modal">
        <%= render 'answers/form', question: question %>
      </div>
    </div>
  <% end %>

  <div data-controller="new-question" class="card-question btn-new-q">
    <button data-action="click->new-question#showForm"  tabindex=0>
      ask a question
    </button>

    <div data-new-question-target="modal" class="modal hide-modal">
      <%= render 'questions/new_question' %>
    </div>

  </div>
</div>
