.questions-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2rem;
  border-radius: 8px;
  background-color: rgba(17, 12, 46, 0.8);
  .card-question {
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    margin-bottom: .5em;
  }
  .btn-new-q {
    border: none;
    font-size: 1em;
    margin-bottom: 0;
    background-color: #fff;
    color: #c64812;
    text-shadow: .05em .05em #e19812;
    text-align: center;
  }
  .btn-new-q:hover,
  .btn-new-q:focus {
    color: #e125B4;
  }
}

@media screen and (min-width: 600px) {
  .questions-wrapper {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 1em;
    .card-question {
      flex: 1 1 0;
      margin-bottom: 0;
    }
    .btn-new-q {
      align-self: stretch;
    }
  }
}
