.questions-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2rem;
  border-radius: 8px;
  background-color: rgba(17, 12, 46, 0.8);
  .card-question {
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
  }
  .btn-new-q {
    margin-bottom: 0;
    background-color: #fff;
    // display: flex;
    justify-content: center;
    button {
      font-size: 1rem;
      padding: 0;
    }
  }
  button {
      color: #c64812;
      border: none;
      background-color: #fff;
      font-weight: 700;
  }
  button:hover,
  button:focus {
    color: #e125B4;
    cursor: pointer;
  }
  .btn-answer {
    display: block;
    margin-left: 1em;
    padding: .5em .75em;
    border-radius: 2px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 8px 8px 0px;
    align-self: center;
  }
}

@media screen and (min-width: 700px) {
  .questions-wrapper {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 1em;
    .card-question {
      flex: 0 1 225px;
      margin-bottom: 0;
      flex-direction: column;
    }
    .btn-new-q {
      align-self: stretch;
    }
    .btn-answer {
      margin: 1.5em 0 .5em;
    }
  }
}
