.landing-title {
  font-size: 25vw;
  line-height: .6;
  text-align: right;
  padding: 1rem;
}

.tagline {
  text-align: left;
  padding-bottom: 1rem;
  color: #21146f;
}

.gradient-bg-green {
  background-image: linear-gradient(rgba(250, 250, 250, 0), rgba(161,209,197, .7), #91c1b5);
  margin-top: -10rem;
  position: relative;
  z-index: 3;
  padding: 10rem 0 3rem;
}

.board-form-wrapper {
  font-family: 'Roboto';
  .input-field, .btn-submit {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 8px 16px 0px;
    border: none;
    padding: .5em .5em;
    font-size: 1rem;
  }
  .input-field {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #e19812;
  }
  .btn-submit {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #e125B4;
    color: #fff;
  }
}
