<h1><%= @board.title %></h1>

<%= link_to 'New Question', new_board_question_path(@board) %>

<% @open_qs.each do |question| %>
  <%= render 'boards/partials/question_card', question: question %>
<% end %>
