#logo {
  display: inline-block;
  margin: .5em;
  padding: .5em;
  font-weight: 700;
  color: rgba(198,72,18, .7);
  text-shadow: .15em .15em #fff,
                0 2px 30px rgba(17, 12, 46, 0.5);
  &:hover,
  &:focus {
    text-shadow: .15em .15em #e19812;
  }
}
