.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modal-card {
    width: 90%;
    max-width: 500px;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.3) 0px 8px 16px 0px;
    border-radius: 8px;
  }
  form {
    padding: 1em 0;
    margin: 0 auto;
  }
}

.hide-modal {
  display: none;
}
