.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  .modal-card {
    background-color: #fff;
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid green;
  }
}

.hide-modal {
  display: none;
}
