/* Variables */
@import "config/fonts";

/* CSS partials */
@import "pages/boards";
@import "components/index";

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
